.basket-page {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  max-width: 1340px;
  margin: 10px auto 0;

  &__header {
    font-size: 3em;
    font-weight: bold;
  }

  &__sub-header {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  &__body {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }

    &__table {
      flex: 1;
    }

    &__summary {
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      flex: 0 0 22%;

      @media only screen and (max-width: $bp-medium) {
        order: -1;
        margin-bottom: 30px;
        flex: 1;
      }

      &__total {
        font-size: 3em;
        font-weight: bold;
      }

      &__checkout {
        color: white;
        background-color: #2A0944;
        padding: 10px 40px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 1.2em;
        cursor: pointer;
      }
    }
  }
  
}
//form div
.sne {
  background-color: #3fa796 !important;
  border-radius: 25px !important;
}

//override ant form field
.ant-input {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: rgb(255, 255, 255) !important;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all .3s;
}

.ant-card-head-title {
  display: inline-block;
  flex: 1 1;
  padding: 16px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #2A0944;
}

.ant-form-item-label>label {
  position: relative;
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  height: 32px;
  color: #2A0944 !important;
  font-size: 14px;
}
.ant-empty-normal {
  margin: 32px 0;
  color: #3FA796 !important;
}